
.cart-data{
    position: sticky;
    top: 20px;
}
.cart-heading{
    text-align: center;
    margin-top: 20px;
    color: white;
}

.chose-btn{
    background-color: aqua;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;

}

.update-cart{
    padding: 20px;
}

hr{
    color: aqua ;
    border: 2px solid aqua;
}

.cart-item p{
    color: white;
    height: 40px;
    margin: 5px 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(6, 220, 228, 0.062);
}



@media only screen and (max-width: 480px){
    .cart-item p{
        color: white;
        height: 65px;
        margin: 5px 10px;
        padding: 10px;
        border-radius: 5px;
        background-color: rgba(6, 220, 228, 0.062);
    }
}