.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;

    
}

.heading{
    background-color: rgb(201, 227, 250) ;
    text-align: center;
    padding: 10px 0px;
    font-size: 40px;
    font-weight: 900;
    margin: 0px 0px 15px 0px; 
}


.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0px 30px;
}

.cart-container{
    background-color: rgb(14, 28, 41);
    
    
}


@media only screen and (max-width: 767px) {
   
    .products{
        display: grid;
        grid-template-columns: 1fr;
        margin: 0px 5px 0px 5px;
    }
}