.shop{
    display: grid;
    grid-template-columns: 4fr 1fr;
}


.product{
    width: 280px;
    height: 500px;
    padding: 10px;
    margin-bottom: 50px;
    background-color: rgb(201, 227, 250);
    border: 2px solid rgb(201, 227, 250);
    border-radius: 10px;
}

img{
    min-height: 180px;
    border-radius: 5px;
}